<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<property scope="system" name="Manager"
		value="/logs/manager" />
	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

		<!-- 日志输出编码 -->
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss} |- %-5level %thread %logger{36} -
				%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="call"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Prudent>true</Prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${Manager}/call_%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} | %msg%n</pattern>
		</encoder>
	</appender>
	
	
	<appender name="back"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Prudent>true</Prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${Manager}/back_%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} | %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="login"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Prudent>true</Prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${Manager}/login_%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} | %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="timer"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Prudent>true</Prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${Manager}/timer_%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} | %msg%n</pattern>
		</encoder>
	</appender>



	<appender name="vpay"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Prudent>true</Prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${Manager}/vpay_%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} | %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="goods"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Prudent>true</Prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${Manager}/goods_%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} | %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="detelePreset"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Prudent>true</Prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${Manager}/detelePreset_%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} | %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="daydate"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Prudent>true</Prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${Manager}/daydate/daydate_%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} | %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="dayline"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Prudent>true</Prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${Manager}/dayline/dayline_%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} | %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="xzj.core"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Prudent>true</Prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${Manager}/xzj.core_%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} | %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="allMailSend"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Prudent>true</Prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${Manager}/allMailSend_%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} | %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="serverHand"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Prudent>true</Prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${Manager}/serverHand_%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} | %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="serverHand" level="INFO" additivity="false">
		<appender-ref ref="serverHand" />
	</logger>
	
	<logger name="allMailSend" level="INFO" additivity="false">
		<appender-ref ref="allMailSend" />
	</logger>
	
	<logger name="xzj.core" level="INFO" additivity="false">
		<appender-ref ref="xzj.core" />
	</logger>
	
	<logger name="ch.qos.logback.classic.LoggerContext" level="ERROR"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="jdbc.core.JdbcTemplate" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="call" level="INFO" additivity="false">
		<appender-ref ref="call" />
	</logger>
	<logger name="timer" level="INFO" additivity="false">
		<appender-ref ref="timer" />
	</logger>
	<logger name="back" level="INFO" additivity="false">
		<appender-ref ref="back" />
	</logger>
	
	<logger name="xftp" level="INFO" additivity="false">
		<appender-ref ref="xftp" />
	</logger>

	<logger name="xzj.core" level="DEBUG" additivity="true">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="goods" level="ERROR" additivity="false">
		<appender-ref ref="goods" />
	</logger>
	
	<logger name="detelePreset" level="INFO" additivity="false">
		<appender-ref ref="detelePreset" />
	</logger>
	<logger name="daydate" level="INFO" additivity="false">
		<appender-ref ref="daydate" />
	</logger>
	<logger name="dayline" level="INFO" additivity="false">
		<appender-ref ref="dayline" />
	</logger>

</configuration>  