<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">


	<logger name="jdbc.core.JdbcTemplate" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="ch.qos.logback.classic.LoggerContext" level="INFO"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

</configuration>  