html {
	height: 100%;
	max-height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 76%;
	font-family: georgia, palatino linotype, times new roman, serif, "宋体";
	/* hide overflow:hidden from IE5/Mac */ /* \*/
	overflow: hidden; /* */
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: "宋体";
	font-size: 12px;
	height: 100%;
	max-height: 100%;
}