<html>
<form method="post">

	<table class="dv-table"
		style="width: 100%; border: 1px solid #ccc; padding: 5px; margin-top: 5px;">
		<tr>
			<td>物品id</td>
			<td>
			<input class="easyui-combobox" id="item_id" name="item_id"
				data-options="valueField:'id',textField:'name'">
			</td>
			<td>数量</td>
			<td><input name="item_num" data-options="min:0,max:10000"  placeholder="(Int)必填..." class="easyui-numberbox"></input></td>
		</tr>
		<tr>
			<td>排序</td>
			<td><input name="item_order" data-options="min:0,max:12" placeholder="(Int)必填..." class="easyui-numberbox"></input></td>
			<td>权重</td>
			<td><input name="item_weight" data-options="min:0,max:10000" placeholder="(Int)必填..." class="easyui-numberbox"></input></td>
		</tr>
		<tr>
			<td>最小保底数</td>
			<td><input name="item_min_cs" data-options="min:0,max:10000" placeholder="(Int)必填..." class="easyui-numberbox"></input></td>
			<td>最大保底数</td>
			<td><input name="item_max_cs" data-options="min:0,max:10000" placeholder="(Int)必填..." class="easyui-numberbox"></input></td>
		</tr>
	</table>
	<div style="padding: 5px 0; text-align: right; padding-right: 30px">
		<a href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-save" plain="true" onclick="save(this)">Save</a> <a
			href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-cancel" plain="true" onclick="cancel(this)">Cancel</a>
	</div>
</form>
<script type="text/javascript">
	$(document).ready(
		function() {
			$.ajax({
				type : "POST",
				url : "../item/getSelect2EasyUiAll",
				datatype : "json",
				success : function(data) {
				var obj = eval(data);
				if (obj.length > 0) {
					$('#item_id').combobox('loadData', obj);
					}
				},
			});
	});
	function save(target) {
		var tr = $(target).closest('.datagrid-row-detail').closest('tr').prev();
		var index = parseInt(tr.attr('datagrid-row-index'));
		saveItem(index,'#dg30_item_lists','saveType30ItemList','updateType30ItemList');
	}
	function cancel(target) {
		var tr = $(target).closest('.datagrid-row-detail').closest('tr').prev();
		var index = parseInt(tr.attr('datagrid-row-index'));
		cancelItem(index,'#dg30_item_lists');
	}
</script>
</html>
