<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spring.myBatis.mapper.UserMapper">
	<!-- <cache /> -->
	<select id="getName" parameterType="int"
		resultType="string">
		select name from user t where t.id = #{id}
	</select>

	<select id="getUser" parameterType="int" resultType="spring.po.User">
		select *
		from user t where t.id = #{id}
	</select>

	<select id="getAllUser" resultType="spring.po.User">
		select * from user
	</select>

	<insert id="saveUser" parameterType="java.util.Map">
		insert into t_user2
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="address != null">
				ADDRESS,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="address != null">
				#{address,jdbcType=OTHER},
			</if>
		</trim>
	</insert>

	<update id="updateOneUserName">
		UPDATE user
		<trim prefix="set" suffixOverrides=",">
			<if test="name!=null">NAME=#{name},</if>
		</trim>
		WHERE id=#{id}
	</update>
</mapper>