<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spring.myBatis.mapper.UserMapper">
	<!-- <cache /> -->
	<select id="getName" parameterType="int" resultType="string">
		select name
		from user t where t.id = #{id}
	</select>

	<select id="getUser" parameterType="int" resultType="spring.po.User">
		select *
		from user t where t.id = #{id}
	</select>

	<select id="getAllUser" resultType="spring.po.User">
		select * from user
	</select>

	<insert id="insertOneUser" parameterType="spring.po.User">
		insert into
			user(name,age, email,password, role)
			values(#{name}, #{age}, #{email}, #{password}, #{role})
			<!-- <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
				select LAST_INSERT_ID()
			</selectKey> -->
	</insert>
<!-- 	<insert id="insertOneUser" parameterType="java.util.Map">
		insert into t_user2
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="address != null">
				ADDRESS,
			</if>
		</trim>
	</insert> -->
	<insert id="insertMoreUser" parameterType="spring.po.User" useGeneratedKeys="true" keyProperty="id">
		insert into user (name, age, email, password, role) values
		<foreach item="item" collection="list" separator=",">
			(#{item.name}, #{item.age}, #{item.email}, #{item.password}, #{item.role})
		</foreach>
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
				select LAST_INSERT_ID()
		</selectKey>
	</insert>
	<update id="updateOneUserName">
		UPDATE user
		<trim prefix="set" suffixOverrides=",">
			<if test="name!=null">NAME=#{name},</if>
		</trim>
		WHERE id=#{id}
	</update>
</mapper>